doctype html
html(class="no-js", lang="")
  head
    meta(charset="utf-8")
    meta(http-equiv="x-ua-compatible", content="ie=edge")
    title= title
    meta(name="description", description=description)
    meta(name="viewport", content="width=device-width,initial-scale=1,user-scalable=0")
    link(rel="apple-touch-icon", href="apple-touch-icon.png")
    link(rel="stylesheet" href="/weui.min.css")
    link(rel="stylesheet" href="/site.css")
    style#css!= css
  body
    #app!= body
    script(src=entry)
